@using FinalProject.MVC.ViewModels
@model AuthFormViewModel

@{
    Layout = "";
}


<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="~/css/auth.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form asp-controller="Auth" asp-action="Register">
                <label for="chk" aria-hidden="true">Sign up</label>
                <div>
                    <input asp-for="FirstName" placeholder="First name">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div>
                    <input asp-for="LastName" placeholder="Last name">
                    <span asp-validation-for="LastName"></span>
                </div>
                <div>
                    <input asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div>
                    <input asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <button>Sign up</button>
            </form>
        </div>

        <div class="login">
            <form asp-controller="Auth" asp-action="Login">
                <label for="chk" aria-hidden="true">Login</label>
                <div>
                    <input asp-for="LoginEmail" placeholder="Email">
                    <span asp-validation-for="LoginEmail"></span>
                </div>
                <div>
                    <input asp-for="LoginPassword" placeholder="Password">
                    <span asp-validation-for="LoginPassword"></span>
                </div>
                <button>Login</button>
            </form>
            <span>@Model.Message</span>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>