@using FinalProject.MVC.Settings

@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home";
}
@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">No products!</h4>
        <p class="mb-0">No products were added yet.</p>
    </div>
}
else
{
    <div class="row mt-2">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-md-6">
                <a class="card border-success mb-3 text-decoration-none rounded-3 overflow-hidden" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                    <div class="card-body" style="background-image: url(@($"{FileSettings.ImagesPath}/{product.ImageName}")); background-size: cover; background-position: center; height: 500px;">
                        <div class="d-flex align-items-end h-100">
                            <span class="badge bg-primary rounded-0 fs-3">@product.Category?.Name</span>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                        <h5 class="text-primary">@product.Name</h5>
                    </div>
                </a>
            </div>
        }
    </div>
}
